<div class="container">

    <div class="container-img">


        <a class="container-icon" href="login">
            <mat-icon>logout</mat-icon>
        </a>
        <h1 class="container-img__title">Estas a punto de adentrarte al mundo gaming</h1>
        <div class="container-img__img">
            <img src="./../../../assets/mujeres-gamers.jpg" alt="imagen-gaming">
        </div>

    </div>

    <div class="container-form">
        <form [formGroup]="form" class="form-container">
            <label class="input-user" for="user">Nombre usuario</label>
            <input formControlName="name_client" class="input-placeholder" type="text" id="name_client" placeholder="Sergio_Crack">

            <label class="input-user" for="password">Contraseña</label>
            <input formControlName="password" class="input-placeholder" type="password" id="password"
                placeholder="*****">

            <label class="input-user" for="mail">Correo</label>
            <input formControlName="mail" class="input-placeholder" type="email" id="mail"
                placeholder="correo@ucatolica.edu.co">

            <button mat-raised-button [disabled]="!form.valid" (click)="save()" class="primary-button">Crear</button>
        </form>
    </div>
    <div>
        
        <button (click)="edit()" mat-icon-button>
            <mat-icon >edit</mat-icon>
        </button>
        <button (click)="delete()" mat-icon-button>
            <mat-icon >delete</mat-icon>
        </button>
    </div>
    <p class="p_actualizar">Data actualizada</p>
    <p class="p_actualizar">{{dataUpdate}}</p>
</div>