<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style-principal.css">
    <link rel="icon" href="./iconos/Logotipo.png">
    <link rel="stylesheet" href="/Tienda/Templates/css/style-principal.css">
    <title>Tienda de videojuegos</title>
</head>
<body>
    <nav>
        <span class="title">Bienvenido a tu espacio favorito de ocio y fantasía</span>
    </nav>
    <main class="main-content">
        <img src="https://as01.epimg.net/meristation/imagenes/2021/10/21/noticias/1634804935_638475_1634805201_noticia_normal_recorte1.jpg" alt="principal-image">
    </main>
    <aside>
        <form class="form-container">
            <label class="label" for="text">Usuario</label>
            <input type="text" id="text" placeholder="Tu Usuario" class="input">

            <label class="label" for="password">Contraseña</label>
                <input type="passsword" id="password" placeholder="***************" class="input">

            <button class="primary-button">Ingresa</button>
            <section class="anchor">
                <a href="/">¿No tienes cuenta?<br>
                    Registrate dando click aqui</a>
            </section>
        </form>
    </aside>
</body>
</html>