:root
{
    --background-blue-violet: #43005e;
    --faded-green: #00ff8c;
    --light-violet: #f046b1;
    --black: #050202;
}
*
{
    box-sizing: border-box;
    margin: 0.5rem;
    padding: 0.5rem;
    font-family: Helvetica;
}
html
{
    font-size: 62.5%;
}
body
{
    font-family: Helvetica;
    background-color: var(--background-blue-violet);
}
.material-symbols-outlined
{
    background-color: var(--light-violet);
    border: 1.5rem solid var(--light-violet);
    border-radius: 2rem;
    margin: 3rem 0 3rem 6rem;
    cursor: pointer;
  font-variation-settings:
  'FILL' 0,
  'wght' 1000,
  'GRAD' 0,
  'opsz' 48
}

.flecha {
    padding: 3px 0px 0px 0px;
}

.container-icon {
    margin: 3rem 0 0 3rem;
    background-color: #f046b1;
    border-radius: 1.5rem;
    width: 3rem;
    padding: 16px 3px 2px 1px
}
.profile
{
    background-color: var(--light-violet);
    border: 1.5rem solid var(--light-violet);
    border-radius: 2rem;
    font-size: 2rem;
    margin: 3rem 0 3rem 5rem;
    position: absolute;
}
.img-content
{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    object-fit: cover;
}
.games-image
{
    width: 25rem;
    height: 15rem;
}
.social-images
{
    width: 4rem;
    height: 4rem;
}
.main-content
{
    display: flex;
    justify-content: space-around;
    margin-top: 4rem;
}
.main-container
{
    background-color: var(--light-violet);
    border-radius: 2rem;
}
.title-one
{
    color: var(--faded-green);
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
}
.first-section
{
    display: flex;
    font-size: 1.5rem;
    text-align: left;
}
.title-two
{
    color: var(--faded-green);
    font-size: 3rem;
    text-align: center;
}
.main-container-two
{
    background-color: var(--light-violet);
    border-radius: 2rem;
}
.second-section
{
    text-align: center;
}
.main-container-three
{
    background-color: var(--light-violet);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5rem;
}

header{
    display: flex;
    justify-content: space-between;
}

.settings_style{
    padding: 0px;
}

.menu_style{
    background-color: var(--light-violet);
    font-weight: 600;
}